@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');

.margin {
    
     margin: 0px auto;
     width: 900px;

}

.bloco {

     background-color: rgb(255, 255, 255);
     border-color:#ccc #999 #ccc #999;
     border: 5px solid rgb(0, 0, 255);
     margin-top: 20px;
     padding: 30px;

}

html {

     background: url(../img/fundo\ jjtsu.jpg);
     background-size: cover;

}
.titulo {

     background-color: rgb(255, 255, 255);
     padding :10px
    
}

.bloco img{

     border: 4px solid #00f;
     float: left;
     margin: 10px 10px 0 0;
     padding: 2px;

     max-width: 300px;
     max-height:350px;
    
     margin-top: 20px;
     vertical-align: top;
}

.bloco p{

     font-family: 'Cuprum', sans-serif;
     font-size: 18px;
     text-align: justify;
     line-height: 1.5;
}

.clear{
    
     clear:both

}

h3 {

     font-family: 'Cuprum', sans-serif;
     font-size: 30px;
     text-align: center;
     text-shadow:3px 3px #999;
}
h1 {

     font-family: 'Cuprum', sans-serif;
     font-size: 35px;
     text-align: center;
     background-color: rgb(255, 255, 255);
     border-color:rgb(0, 0, 0);  
     text-shadow:3px 3px #999;
}

em {

     color: #00f; 
}

h4 {
     font-size: 35px;
     margin: auto;
    
}
.center{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 40%;
     }